CS253-RiverClient/xml-resources/web-service-references/RiverServerService/wsdl/localhost_8080/CS253-RiverServer/RiverServerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://RiverService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://RiverService/" name="RiverServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://RiverService/" schemaLocation="http://localhost:8080/CS253-RiverServer/RiverServerService?xsd=1"/>
</xsd:schema>
</types>
<message name="addRiver">
<part name="parameters" element="tns:addRiver"/>
</message>
<message name="addRiverResponse">
<part name="parameters" element="tns:addRiverResponse"/>
</message>
<message name="searchRiver">
<part name="parameters" element="tns:searchRiver"/>
</message>
<message name="searchRiverResponse">
<part name="parameters" element="tns:searchRiverResponse"/>
</message>
<message name="searchByLength">
<part name="parameters" element="tns:searchByLength"/>
</message>
<message name="searchByLengthResponse">
<part name="parameters" element="tns:searchByLengthResponse"/>
</message>
<message name="makeTributary">
<part name="parameters" element="tns:makeTributary"/>
</message>
<message name="makeTributaryResponse">
<part name="parameters" element="tns:makeTributaryResponse"/>
</message>
<message name="updateLength">
<part name="parameters" element="tns:updateLength"/>
</message>
<message name="updateLengthResponse">
<part name="parameters" element="tns:updateLengthResponse"/>
</message>
<message name="allRiversToString">
<part name="parameters" element="tns:allRiversToString"/>
</message>
<message name="allRiversToStringResponse">
<part name="parameters" element="tns:allRiversToStringResponse"/>
</message>
<portType name="RiverServer">
<operation name="addRiver">
<input wsam:Action="http://RiverService/RiverServer/addRiverRequest" message="tns:addRiver"/>
<output wsam:Action="http://RiverService/RiverServer/addRiverResponse" message="tns:addRiverResponse"/>
</operation>
<operation name="searchRiver">
<input wsam:Action="http://RiverService/RiverServer/searchRiverRequest" message="tns:searchRiver"/>
<output wsam:Action="http://RiverService/RiverServer/searchRiverResponse" message="tns:searchRiverResponse"/>
</operation>
<operation name="searchByLength">
<input wsam:Action="http://RiverService/RiverServer/searchByLengthRequest" message="tns:searchByLength"/>
<output wsam:Action="http://RiverService/RiverServer/searchByLengthResponse" message="tns:searchByLengthResponse"/>
</operation>
<operation name="makeTributary">
<input wsam:Action="http://RiverService/RiverServer/makeTributaryRequest" message="tns:makeTributary"/>
<output wsam:Action="http://RiverService/RiverServer/makeTributaryResponse" message="tns:makeTributaryResponse"/>
</operation>
<operation name="updateLength">
<input wsam:Action="http://RiverService/RiverServer/updateLengthRequest" message="tns:updateLength"/>
<output wsam:Action="http://RiverService/RiverServer/updateLengthResponse" message="tns:updateLengthResponse"/>
</operation>
<operation name="allRiversToString">
<input wsam:Action="http://RiverService/RiverServer/allRiversToStringRequest" message="tns:allRiversToString"/>
<output wsam:Action="http://RiverService/RiverServer/allRiversToStringResponse" message="tns:allRiversToStringResponse"/>
</operation>
</portType>
<binding name="RiverServerPortBinding" type="tns:RiverServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addRiver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchRiver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByLength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeTributary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateLength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allRiversToString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RiverServerService">
<port name="RiverServerPort" binding="tns:RiverServerPortBinding">
<soap:address location="http://localhost:8080/CS253-RiverServer/RiverServerService"/>
</port>
</service>
</definitions>